/*html, body, #app{
  height: 100% !important;
}*/
html, body{
  background-color: #CFD8DC;
}
html, body, #app, #main{
  min-height: calc( 100% - 8px ) !important;
}
html {
  font-family: 'Roboto', sans-serif;
}
body {
  font-size: 13px;
  line-height: 20px;
}
.container,.container-fluid{margin-right:auto;margin-left:auto}.container-fluid{padding-right:2rem;padding-left:2rem}.row{box-sizing:border-box;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-flex:0;-ms-flex:0 1 auto;flex:0 1 auto;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-.5rem;margin-left:-.5rem}.row.reverse{-webkit-box-orient:horizontal;-webkit-box-direction:reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse}.col.reverse{-webkit-box-orient:vertical;-webkit-box-direction:reverse;-ms-flex-direction:column-reverse;flex-direction:column-reverse}.col-xs,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-offset-0,.col-xs-offset-1,.col-xs-offset-10,.col-xs-offset-11,.col-xs-offset-12,.col-xs-offset-2,.col-xs-offset-3,.col-xs-offset-4,.col-xs-offset-5,.col-xs-offset-6,.col-xs-offset-7,.col-xs-offset-8,.col-xs-offset-9{box-sizing:border-box;-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;padding-right:.5rem;padding-left:.5rem}.col-xs{-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;-ms-flex-preferred-size:0;flex-basis:0;max-width:100%}.col-xs-1{-ms-flex-preferred-size:8.33333333%;flex-basis:8.33333333%;max-width:8.33333333%}.col-xs-2{-ms-flex-preferred-size:16.66666667%;flex-basis:16.66666667%;max-width:16.66666667%}.col-xs-3{-ms-flex-preferred-size:25%;flex-basis:25%;max-width:25%}.col-xs-4{-ms-flex-preferred-size:33.33333333%;flex-basis:33.33333333%;max-width:33.33333333%}.col-xs-5{-ms-flex-preferred-size:41.66666667%;flex-basis:41.66666667%;max-width:41.66666667%}.col-xs-6{-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%}.col-xs-7{-ms-flex-preferred-size:58.33333333%;flex-basis:58.33333333%;max-width:58.33333333%}.col-xs-8{-ms-flex-preferred-size:66.66666667%;flex-basis:66.66666667%;max-width:66.66666667%}.col-xs-9{-ms-flex-preferred-size:75%;flex-basis:75%;max-width:75%}.col-xs-10{-ms-flex-preferred-size:83.33333333%;flex-basis:83.33333333%;max-width:83.33333333%}.col-xs-11{-ms-flex-preferred-size:91.66666667%;flex-basis:91.66666667%;max-width:91.66666667%}.col-xs-12{-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%}.col-xs-offset-0{margin-left:0}.col-xs-offset-1{margin-left:8.33333333%}.col-xs-offset-2{margin-left:16.66666667%}.col-xs-offset-3{margin-left:25%}.col-xs-offset-4{margin-left:33.33333333%}.col-xs-offset-5{margin-left:41.66666667%}.col-xs-offset-6{margin-left:50%}.col-xs-offset-7{margin-left:58.33333333%}.col-xs-offset-8{margin-left:66.66666667%}.col-xs-offset-9{margin-left:75%}.col-xs-offset-10{margin-left:83.33333333%}.col-xs-offset-11{margin-left:91.66666667%}.start-xs{-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;text-align:start}.center-xs{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;text-align:center}.end-xs{-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;text-align:end}.top-xs{-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start}.middle-xs{-webkit-box-align:center;-ms-flex-align:center;align-items:center}.bottom-xs{-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end}.around-xs{-ms-flex-pack:distribute;justify-content:space-around}.between-xs{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.first-xs{-webkit-box-ordinal-group:0;-ms-flex-order:-1;order:-1}.last-xs{-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1}@media only screen and (min-width:48em){.container{width:49rem}.col-sm,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-offset-0,.col-sm-offset-1,.col-sm-offset-10,.col-sm-offset-11,.col-sm-offset-12,.col-sm-offset-2,.col-sm-offset-3,.col-sm-offset-4,.col-sm-offset-5,.col-sm-offset-6,.col-sm-offset-7,.col-sm-offset-8,.col-sm-offset-9{box-sizing:border-box;-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;padding-right:.5rem;padding-left:.5rem}.col-sm{-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;-ms-flex-preferred-size:0;flex-basis:0;max-width:100%}.col-sm-1{-ms-flex-preferred-size:8.33333333%;flex-basis:8.33333333%;max-width:8.33333333%}.col-sm-2{-ms-flex-preferred-size:16.66666667%;flex-basis:16.66666667%;max-width:16.66666667%}.col-sm-3{-ms-flex-preferred-size:25%;flex-basis:25%;max-width:25%}.col-sm-4{-ms-flex-preferred-size:33.33333333%;flex-basis:33.33333333%;max-width:33.33333333%}.col-sm-5{-ms-flex-preferred-size:41.66666667%;flex-basis:41.66666667%;max-width:41.66666667%}.col-sm-6{-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%}.col-sm-7{-ms-flex-preferred-size:58.33333333%;flex-basis:58.33333333%;max-width:58.33333333%}.col-sm-8{-ms-flex-preferred-size:66.66666667%;flex-basis:66.66666667%;max-width:66.66666667%}.col-sm-9{-ms-flex-preferred-size:75%;flex-basis:75%;max-width:75%}.col-sm-10{-ms-flex-preferred-size:83.33333333%;flex-basis:83.33333333%;max-width:83.33333333%}.col-sm-11{-ms-flex-preferred-size:91.66666667%;flex-basis:91.66666667%;max-width:91.66666667%}.col-sm-12{-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%}.col-sm-offset-0{margin-left:0}.col-sm-offset-1{margin-left:8.33333333%}.col-sm-offset-2{margin-left:16.66666667%}.col-sm-offset-3{margin-left:25%}.col-sm-offset-4{margin-left:33.33333333%}.col-sm-offset-5{margin-left:41.66666667%}.col-sm-offset-6{margin-left:50%}.col-sm-offset-7{margin-left:58.33333333%}.col-sm-offset-8{margin-left:66.66666667%}.col-sm-offset-9{margin-left:75%}.col-sm-offset-10{margin-left:83.33333333%}.col-sm-offset-11{margin-left:91.66666667%}.start-sm{-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;text-align:start}.center-sm{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;text-align:center}.end-sm{-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;text-align:end}.top-sm{-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start}.middle-sm{-webkit-box-align:center;-ms-flex-align:center;align-items:center}.bottom-sm{-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end}.around-sm{-ms-flex-pack:distribute;justify-content:space-around}.between-sm{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.first-sm{-webkit-box-ordinal-group:0;-ms-flex-order:-1;order:-1}.last-sm{-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1}}@media only screen and (min-width:64em){.container{width:65rem}.col-md,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-offset-0,.col-md-offset-1,.col-md-offset-10,.col-md-offset-11,.col-md-offset-12,.col-md-offset-2,.col-md-offset-3,.col-md-offset-4,.col-md-offset-5,.col-md-offset-6,.col-md-offset-7,.col-md-offset-8,.col-md-offset-9{box-sizing:border-box;-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;padding-right:.5rem;padding-left:.5rem}.col-md{-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;-ms-flex-preferred-size:0;flex-basis:0;max-width:100%}.col-md-1{-ms-flex-preferred-size:8.33333333%;flex-basis:8.33333333%;max-width:8.33333333%}.col-md-2{-ms-flex-preferred-size:16.66666667%;flex-basis:16.66666667%;max-width:16.66666667%}.col-md-3{-ms-flex-preferred-size:25%;flex-basis:25%;max-width:25%}.col-md-4{-ms-flex-preferred-size:33.33333333%;flex-basis:33.33333333%;max-width:33.33333333%}.col-md-5{-ms-flex-preferred-size:41.66666667%;flex-basis:41.66666667%;max-width:41.66666667%}.col-md-6{-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%}.col-md-7{-ms-flex-preferred-size:58.33333333%;flex-basis:58.33333333%;max-width:58.33333333%}.col-md-8{-ms-flex-preferred-size:66.66666667%;flex-basis:66.66666667%;max-width:66.66666667%}.col-md-9{-ms-flex-preferred-size:75%;flex-basis:75%;max-width:75%}.col-md-10{-ms-flex-preferred-size:83.33333333%;flex-basis:83.33333333%;max-width:83.33333333%}.col-md-11{-ms-flex-preferred-size:91.66666667%;flex-basis:91.66666667%;max-width:91.66666667%}.col-md-12{-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%}.col-md-offset-0{margin-left:0}.col-md-offset-1{margin-left:8.33333333%}.col-md-offset-2{margin-left:16.66666667%}.col-md-offset-3{margin-left:25%}.col-md-offset-4{margin-left:33.33333333%}.col-md-offset-5{margin-left:41.66666667%}.col-md-offset-6{margin-left:50%}.col-md-offset-7{margin-left:58.33333333%}.col-md-offset-8{margin-left:66.66666667%}.col-md-offset-9{margin-left:75%}.col-md-offset-10{margin-left:83.33333333%}.col-md-offset-11{margin-left:91.66666667%}.start-md{-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;text-align:start}.center-md{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;text-align:center}.end-md{-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;text-align:end}.top-md{-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start}.middle-md{-webkit-box-align:center;-ms-flex-align:center;align-items:center}.bottom-md{-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end}.around-md{-ms-flex-pack:distribute;justify-content:space-around}.between-md{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.first-md{-webkit-box-ordinal-group:0;-ms-flex-order:-1;order:-1}.last-md{-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1}}@media only screen and (min-width:75em){.container{width:76rem}.col-lg,.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-offset-0,.col-lg-offset-1,.col-lg-offset-10,.col-lg-offset-11,.col-lg-offset-12,.col-lg-offset-2,.col-lg-offset-3,.col-lg-offset-4,.col-lg-offset-5,.col-lg-offset-6,.col-lg-offset-7,.col-lg-offset-8,.col-lg-offset-9{box-sizing:border-box;-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;padding-right:.5rem;padding-left:.5rem}.col-lg{-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;-ms-flex-preferred-size:0;flex-basis:0;max-width:100%}.col-lg-1{-ms-flex-preferred-size:8.33333333%;flex-basis:8.33333333%;max-width:8.33333333%}.col-lg-2{-ms-flex-preferred-size:16.66666667%;flex-basis:16.66666667%;max-width:16.66666667%}.col-lg-3{-ms-flex-preferred-size:25%;flex-basis:25%;max-width:25%}.col-lg-4{-ms-flex-preferred-size:33.33333333%;flex-basis:33.33333333%;max-width:33.33333333%}.col-lg-5{-ms-flex-preferred-size:41.66666667%;flex-basis:41.66666667%;max-width:41.66666667%}.col-lg-6{-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%}.col-lg-7{-ms-flex-preferred-size:58.33333333%;flex-basis:58.33333333%;max-width:58.33333333%}.col-lg-8{-ms-flex-preferred-size:66.66666667%;flex-basis:66.66666667%;max-width:66.66666667%}.col-lg-9{-ms-flex-preferred-size:75%;flex-basis:75%;max-width:75%}.col-lg-10{-ms-flex-preferred-size:83.33333333%;flex-basis:83.33333333%;max-width:83.33333333%}.col-lg-11{-ms-flex-preferred-size:91.66666667%;flex-basis:91.66666667%;max-width:91.66666667%}.col-lg-12{-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%}.col-lg-offset-0{margin-left:0}.col-lg-offset-1{margin-left:8.33333333%}.col-lg-offset-2{margin-left:16.66666667%}.col-lg-offset-3{margin-left:25%}.col-lg-offset-4{margin-left:33.33333333%}.col-lg-offset-5{margin-left:41.66666667%}.col-lg-offset-6{margin-left:50%}.col-lg-offset-7{margin-left:58.33333333%}.col-lg-offset-8{margin-left:66.66666667%}.col-lg-offset-9{margin-left:75%}.col-lg-offset-10{margin-left:83.33333333%}.col-lg-offset-11{margin-left:91.66666667%}.start-lg{-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;text-align:start}.center-lg{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;text-align:center}.end-lg{-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;text-align:end}.top-lg{-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start}.middle-lg{-webkit-box-align:center;-ms-flex-align:center;align-items:center}.bottom-lg{-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end}.around-lg{-ms-flex-pack:distribute;justify-content:space-around}.between-lg{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.first-lg{-webkit-box-ordinal-group:0;-ms-flex-order:-1;order:-1}.last-lg{-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1}}

/* Material Design  Color*/
.red50{background-color: #ffebee;}
.red100{background-color: #ffcdd2;}
.red200{background-color: #ef9a9a;}
.red300{background-color: #e57373;}
.red400{background-color: #ef5350;}
.red500{background-color: #f44336;}
.red600{background-color: #e53935;}
.red700{background-color: #d32f2f;}
.red800{background-color: #c62828;}
.red900{background-color: #b71c1c;}
.redA100{background-color: #ff8a80;}
.redA200{background-color: #ff5252;}
.redA400{background-color: #ff1744;}
.redA700{background-color: #d50000;}

.pink50{background-color: #fce4ec;}
.pink100{background-color: #f8bbd0;}
.pink200{background-color: #f48fb1;}
.pink300{background-color: #f06292;}
.pink400{background-color: #ec407a;}
.pink500{background-color: #e91e63;}
.pink600{background-color: #d81b60;}
.pink700{background-color: #c2185b;}
.pink800{background-color: #ad1457;}
.pink900{background-color: #880e4f;}
.pinkA100{background-color: #ff80ab;}
.pinkA200{background-color: #ff4081;}
.pinkA400{background-color: #f50057;}
.pinkA700{background-color: #c51162;}

.purple50{background-color: #f3e5f5;}
.purple100{background-color: #e1bee7;}
.purple200{background-color: #ce93d8;}
.purple300{background-color: #ba68c8;}
.purple400{background-color: #ab47bc;}
.purple500{background-color: #9c27b0;}
.purple600{background-color: #8e24aa;}
.purple700{background-color: #7b1fa2;}
.purple800{background-color: #6a1b9a;}
.purple900{background-color: #4a148c;}
.purpleA100{background-color: #ea80fc;}
.purpleA200{background-color: #e040fb;}
.purpleA400{background-color: #d500f9;}
.purpleA700{background-color: #aa00ff;}

.red50-text{color: #ffebee;}
.red100-text{color: #ffcdd2;}
.red200-text{color: #ef9a9a;}
.red300-text{color: #e57373;}
.red400-text{color: #ef5350;}
.red500-text{color: #f44336;}
.red600-text{color: #e53935;}
.red700-text{color: #d32f2f;}
.red800-text{color: #c62828;}
.red900-text{color: #b71c1c;}
.redA100-text{color: #ff8a80;}
.redA200-text{color: #ff5252;}
.redA400-text{color: #ff1744;}
.redA700-text{color: #d50000;}

.pink50-text{color: #fce4ec;}
.pink100-text{color: #f8bbd0;}
.pink200-text{color: #f48fb1;}
.pink300-text{color: #f06292;}
.pink400-text{color: #ec407a;}
.pink500-text{color: #e91e63;}
.pink600-text{color: #d81b60;}
.pink700-text{color: #c2185b;}
.pink800-text{color: #ad1457;}
.pink900-text{color: #880e4f;}
.pinkA100-text{color: #ff80ab;}
.pinkA200-text{color: #ff4081;}
.pinkA400-text{color: #f50057;}
.pinkA700-text{color: #c51162;}

.purple50-text{color: #f3e5f5;}
.purple100-text{color: #e1bee7;}
.purple200-text{color: #ce93d8;}
.purple300-text{color: #ba68c8;}
.purple400-text{color: #ab47bc;}
.purple500-text{color: #9c27b0;}
.purple600-text{color: #8e24aa;}
.purple700-text{color: #7b1fa2;}
.purple800-text{color: #6a1b9a;}
.purple900-text{color: #4a148c;}
.purpleA100-text{color: #ea80fc;}
.purpleA200-text{color: #e040fb;}
.purpleA400-text{color: #d500f9;}
.purpleA700-text{color: #aa00ff;}

.deepPurple50{background-color: #ede7f6;}
.deepPurple100{background-color: #d1c4e9;}
.deepPurple200{background-color: #b39ddb;}
.deepPurple300{background-color: #9575cd;}
.deepPurple400{background-color: #7e57c2;}
.deepPurple500{background-color: #673ab7;}
.deepPurple600{background-color: #5e35b1;}
.deepPurple700{background-color: #512da8;}
.deepPurple800{background-color: #4527a0;}
.deepPurple900{background-color: #311b92;}
.deepPurpleA100{background-color: #b388ff;}
.deepPurpleA200{background-color: #7c4dff;}
.deepPurpleA400{background-color: #651fff;}
.deepPurpleA700{background-color: #6200ea;}

.indigo50{background-color: #e8eaf6;}
.indigo100{background-color: #c5cae9;}
.indigo200{background-color: #9fa8da;}
.indigo300{background-color: #7986cb;}
.indigo400{background-color: #5c6bc0;}
.indigo500{background-color: #3f51b5;}
.indigo600{background-color: #3949ab;}
.indigo700{background-color: #303f9f;}
.indigo800{background-color: #283593;}
.indigo900{background-color: #1a237e;}
.indigoA100{background-color: #8c9eff;}
.indigoA200{background-color: #536dfe;}
.indigoA400{background-color: #3d5afe;}
.indigoA700{background-color: #304ffe;}

.blue50{background-color: #e3f2fd;}
.blue100{background-color: #bbdefb;}
.blue200{background-color: #90caf9;}
.blue300{background-color: #64b5f6;}
.blue400{background-color: #42a5f5;}
.blue500{background-color: #2196f3;}
.blue600{background-color: #1e88e5;}
.blue700{background-color: #1976d2;}
.blue800{background-color: #1565c0;}
.blue900{background-color: #0d47a1;}
.blueA100{background-color: #82b1ff;}
.blueA200{background-color: #448aff;}
.blueA400{background-color: #2979ff;}
.blueA700{background-color: #2962ff;}

.lightBlue50{background-color: #e1f5fe;}
.lightBlue100{background-color: #b3e5fc;}
.lightBlue200{background-color: #81d4fa;}
.lightBlue300{background-color: #4fc3f7;}
.lightBlue400{background-color: #29b6f6;}
.lightBlue500{background-color: #03a9f4;}
.lightBlue600{background-color: #039be5;}
.lightBlue700{background-color: #0288d1;}
.lightBlue800{background-color: #0277bd;}
.lightBlue900{background-color: #01579b;}
.lightBlueA100{background-color: #80d8ff;}
.lightBlueA200{background-color: #40c4ff;}
.lightBlueA400{background-color: #00b0ff;}
.lightBlueA700{background-color: #0091ea;}

.cyan50{background-color: #e0f7fa;}
.cyan100{background-color: #b2ebf2;}
.cyan200{background-color: #80deea;}
.cyan300{background-color: #4dd0e1;}
.cyan400{background-color: #26c6da;}
.cyan500{background-color: #00bcd4;}
.cyan600{background-color: #00acc1;}
.cyan700{background-color: #0097a7;}
.cyan800{background-color: #00838f;}
.cyan900{background-color: #006064;}
.cyanA100{background-color: #84ffff;}
.cyanA200{background-color: #18ffff;}
.cyanA400{background-color: #00e5ff;}
.cyanA700{background-color: #00b8d4;}

.deepPurple50-text{color: #ede7f6;}
.deepPurple100-text{color: #d1c4e9;}
.deepPurple200-text{color: #b39ddb;}
.deepPurple300-text{color: #9575cd;}
.deepPurple400-text{color: #7e57c2;}
.deepPurple500-text{color: #673ab7;}
.deepPurple600-text{color: #5e35b1;}
.deepPurple700-text{color: #512da8;}
.deepPurple800-text{color: #4527a0;}
.deepPurple900-text{color: #311b92;}
.deepPurpleA100-text{color: #b388ff;}
.deepPurpleA200-text{color: #7c4dff;}
.deepPurpleA400-text{color: #651fff;}
.deepPurpleA700-text{color: #6200ea;}

.indigo50-text{color: #e8eaf6;}
.indigo100-text{color: #c5cae9;}
.indigo200-text{color: #9fa8da;}
.indigo300-text{color: #7986cb;}
.indigo400-text{color: #5c6bc0;}
.indigo500-text{color: #3f51b5;}
.indigo600-text{color: #3949ab;}
.indigo700-text{color: #303f9f;}
.indigo800-text{color: #283593;}
.indigo900-text{color: #1a237e;}
.indigoA100-text{color: #8c9eff;}
.indigoA200-text{color: #536dfe;}
.indigoA400-text{color: #3d5afe;}
.indigoA700-text{color: #304ffe;}

.blue50-text{color: #e3f2fd;}
.blue100-text{color: #bbdefb;}
.blue200-text{color: #90caf9;}
.blue300-text{color: #64b5f6;}
.blue400-text{color: #42a5f5;}
.blue500-text{color: #2196f3;}
.blue600-text{color: #1e88e5;}
.blue700-text{color: #1976d2;}
.blue800-text{color: #1565c0;}
.blue900-text{color: #0d47a1;}
.blueA100-text{color: #82b1ff;}
.blueA200-text{color: #448aff;}
.blueA400-text{color: #2979ff;}
.blueA700-text{color: #2962ff;}

.lightBlue50-text{color: #e1f5fe;}
.lightBlue100-text{color: #b3e5fc;}
.lightBlue200-text{color: #81d4fa;}
.lightBlue300-text{color: #4fc3f7;}
.lightBlue400-text{color: #29b6f6;}
.lightBlue500-text{color: #03a9f4;}
.lightBlue600-text{color: #039be5;}
.lightBlue700-text{color: #0288d1;}
.lightBlue800-text{color: #0277bd;}
.lightBlue900-text{color: #01579b;}
.lightBlueA100-text{color: #80d8ff;}
.lightBlueA200-text{color: #40c4ff;}
.lightBlueA400-text{color: #00b0ff;}
.lightBlueA700-text{color: #0091ea;}

.cyan50-text{color: #e0f7fa;}
.cyan100-text{color: #b2ebf2;}
.cyan200-text{color: #80deea;}
.cyan300-text{color: #4dd0e1;}
.cyan400-text{color: #26c6da;}
.cyan500-text{color: #00bcd4;}
.cyan600-text{color: #00acc1;}
.cyan700-text{color: #0097a7;}
.cyan800-text{color: #00838f;}
.cyan900-text{color: #006064;}
.cyanA100-text{color: #84ffff;}
.cyanA200-text{color: #18ffff;}
.cyanA400-text{color: #00e5ff;}
.cyanA700-text{color: #00b8d4;}

.teal50-text{color: #e0f2f1;}
.teal100-text{color: #b2dfdb;}
.teal200-text{color: #80cbc4;}
.teal300-text{color: #4db6ac;}
.teal400-text{color: #26a69a;}
.teal500-text{color: #009688;}
.teal600-text{color: #00897b;}
.teal700-text{color: #00796b;}
.teal800-text{color: #00695c;}
.teal900-text{color: #004d40;}
.tealA100-text{color: #a7ffeb;}
.tealA200-text{color: #64ffda;}
.tealA400-text{color: #1de9b6;}
.tealA700-text{color: #00bfa5;}

.green50-text{color: #e8f5e9;}
.green100-text{color: #c8e6c9;}
.green200-text{color: #a5d6a7;}
.green300-text{color: #81c784;}
.green400-text{color: #66bb6a;}
.green500-text{color: #4caf50;}
.green600-text{color: #43a047;}
.green700-text{color: #388e3c;}
.green800-text{color: #2e7d32;}
.green900-text{color: #1b5e20;}
.greenA100-text{color: #b9f6ca;}
.greenA200-text{color: #69f0ae;}
.greenA400-text{color: #00e676;}
.greenA700-text{color: #00c853;}

.lightGreen50-text{color: #f1f8e9;}
.lightGreen100-text{color: #dcedc8;}
.lightGreen200-text{color: #c5e1a5;}
.lightGreen300-text{color: #aed581;}
.lightGreen400-text{color: #9ccc65;}
.lightGreen500-text{color: #8bc34a;}
.lightGreen600-text{color: #7cb342;}
.lightGreen700-text{color: #689f38;}
.lightGreen800-text{color: #558b2f;}
.lightGreen900-text{color: #33691e;}
.lightGreenA100-text{color: #ccff90;}
.lightGreenA200-text{color: #b2ff59;}
.lightGreenA400-text{color: #76ff03;}
.lightGreenA700-text{color: #64dd17;}

.lime50-text{color: #f9fbe7;}
.lime100-text{color: #f0f4c3;}
.lime200-text{color: #e6ee9c;}
.lime300-text{color: #dce775;}
.lime400-text{color: #d4e157;}
.lime500-text{color: #cddc39;}
.lime600-text{color: #c0ca33;}
.lime700-text{color: #afb42b;}
.lime800-text{color: #9e9d24;}
.lime900-text{color: #827717;}
.limeA100-text{color: #f4ff81;}
.limeA200-text{color: #eeff41;}
.limeA400-text{color: #c6ff00;}
.limeA700-text{color: #aeea00;}

.yellow50-text{color: #fffde7;}
.yellow100-text{color: #fff9c4;}
.yellow200-text{color: #fff59d;}
.yellow300-text{color: #fff176;}
.yellow400-text{color: #ffee58;}
.yellow500-text{color: #ffeb3b;}
.yellow600-text{color: #fdd835;}
.yellow700-text{color: #fbc02d;}
.yellow800-text{color: #f9a825;}
.yellow900-text{color: #f57f17;}
.yellowA100-text{color: #ffff8d;}
.yellowA200-text{color: #ffff00;}
.yellowA400-text{color: #ffea00;}
.yellowA700-text{color: #ffd600;}

.cyan50-text{color: #e0f7fa;}
.cyan100-text{color: #b2ebf2;}
.cyan200-text{color: #80deea;}
.cyan300-text{color: #4dd0e1;}
.cyan400-text{color: #26c6da;}
.cyan500-text{color: #00bcd4;}
.cyan600-text{color: #00acc1;}
.cyan700-text{color: #0097a7;}
.cyan800-text{color: #00838f;}
.cyan900-text{color: #006064;}
.cyanA100-text{color: #84ffff;}
.cyanA200-text{color: #18ffff;}
.cyanA400-text{color: #00e5ff;}
.cyanA700-text{color: #00b8d4;}

.teal50-text{color: #e0f2f1;}
.teal100-text{color: #b2dfdb;}
.teal200-text{color: #80cbc4;}
.teal300-text{color: #4db6ac;}
.teal400-text{color: #26a69a;}
.teal500-text{color: #009688;}
.teal600-text{color: #00897b;}
.teal700-text{color: #00796b;}
.teal800-text{color: #00695c;}
.teal900-text{color: #004d40;}
.tealA100-text{color: #a7ffeb;}
.tealA200-text{color: #64ffda;}
.tealA400-text{color: #1de9b6;}
.tealA700-text{color: #00bfa5;}

.green50-text{color: #e8f5e9;}
.green100-text{color: #c8e6c9;}
.green200-text{color: #a5d6a7;}
.green300-text{color: #81c784;}
.green400-text{color: #66bb6a;}
.green500-text{color: #4caf50;}
.green600-text{color: #43a047;}
.green700-text{color: #388e3c;}
.green800-text{color: #2e7d32;}
.green900-text{color: #1b5e20;}
.greenA100-text{color: #b9f6ca;}
.greenA200-text{color: #69f0ae;}
.greenA400-text{color: #00e676;}
.greenA700-text{color: #00c853;}

.lightGreen50-text{color: #f1f8e9;}
.lightGreen100-text{color: #dcedc8;}
.lightGreen200-text{color: #c5e1a5;}
.lightGreen300-text{color: #aed581;}
.lightGreen400-text{color: #9ccc65;}
.lightGreen500-text{color: #8bc34a;}
.lightGreen600-text{color: #7cb342;}
.lightGreen700-text{color: #689f38;}
.lightGreen800-text{color: #558b2f;}
.lightGreen900-text{color: #33691e;}
.lightGreenA100-text{color: #ccff90;}
.lightGreenA200-text{color: #b2ff59;}
.lightGreenA400-text{color: #76ff03;}
.lightGreenA700-text{color: #64dd17;}

.lime50-text{color: #f9fbe7;}
.lime100-text{color: #f0f4c3;}
.lime200-text{color: #e6ee9c;}
.lime300-text{color: #dce775;}
.lime400-text{color: #d4e157;}
.lime500-text{color: #cddc39;}
.lime600-text{color: #c0ca33;}
.lime700-text{color: #afb42b;}
.lime800-text{color: #9e9d24;}
.lime900-text{color: #827717;}
.limeA100-text{color: #f4ff81;}
.limeA200-text{color: #eeff41;}
.limeA400-text{color: #c6ff00;}
.limeA700-text{color: #aeea00;}

.yellow50-text{color: #fffde7;}
.yellow100-text{color: #fff9c4;}
.yellow200-text{color: #fff59d;}
.yellow300-text{color: #fff176;}
.yellow400-text{color: #ffee58;}
.yellow500-text{color: #ffeb3b;}
.yellow600-text{color: #fdd835;}
.yellow700-text{color: #fbc02d;}
.yellow800-text{color: #f9a825;}
.yellow900-text{color: #f57f17;}
.yellowA100-text{color: #ffff8d;}
.yellowA200-text{color: #ffff00;}
.yellowA400-text{color: #ffea00;}
.yellowA700-text{color: #ffd600;}

.amber50{background-color: #fff8e1;}
.amber100{background-color: #ffecb3;}
.amber200{background-color: #ffe082;}
.amber300{background-color: #ffd54f;}
.amber400{background-color: #ffca28;}
.amber500{background-color: #ffc107;}
.amber600{background-color: #ffb300;}
.amber700{background-color: #ffa000;}
.amber800{background-color: #ff8f00;}
.amber900{background-color: #ff6f00;}
.amberA100{background-color: #ffe57f;}
.amberA200{background-color: #ffd740;}
.amberA400{background-color: #ffc400;}
.amberA700{background-color: #ffab00;}

.orange50{background-color: #fff3e0;}
.orange100{background-color: #ffe0b2;}
.orange200{background-color: #ffcc80;}
.orange300{background-color: #ffb74d;}
.orange400{background-color: #ffa726;}
.orange500{background-color: #ff9800;}
.orange600{background-color: #fb8c00;}
.orange700{background-color: #f57c00;}
.orange800{background-color: #ef6c00;}
.orange900{background-color: #e65100;}
.orangeA100{background-color: #ffd180;}
.orangeA200{background-color: #ffab40;}
.orangeA400{background-color: #ff9100;}
.orangeA700{background-color: #ff6d00;}

.deepOrange50{background-color: #fbe9e7;}
.deepOrange100{background-color: #ffccbc;}
.deepOrange200{background-color: #ffab91;}
.deepOrange300{background-color: #ff8a65;}
.deepOrange400{background-color: #ff7043;}
.deepOrange500{background-color: #ff5722;}
.deepOrange600{background-color: #f4511e;}
.deepOrange700{background-color: #e64a19;}
.deepOrange800{background-color: #d84315;}
.deepOrange900{background-color: #bf360c;}
.deepOrangeA100{background-color: #ff9e80;}
.deepOrangeA200{background-color: #ff6e40;}
.deepOrangeA400{background-color: #ff3d00;}
.deepOrangeA700{background-color: #dd2c00;}

.brown50{background-color: #efebe9;}
.brown100{background-color: #d7ccc8;}
.brown200{background-color: #bcaaa4;}
.brown300{background-color: #a1887f;}
.brown400{background-color: #8d6e63;}
.brown500{background-color: #795548;}
.brown600{background-color: #6d4c41;}
.brown700{background-color: #5d4037;}
.brown800{background-color: #4e342e;}
.brown900{background-color: #3e2723;}

.blueGrey50{background-color: #eceff1;}
.blueGrey100{background-color: #cfd8dc;}
.blueGrey200{background-color: #b0bec5;}
.blueGrey300{background-color: #90a4ae;}
.blueGrey400{background-color: #78909c;}
.blueGrey500{background-color: #607d8b;}
.blueGrey600{background-color: #546e7a;}
.blueGrey700{background-color: #455a64;}
.blueGrey800{background-color: #37474f;}
.blueGrey900{background-color: #263238;}

.grey50{background-color: #fafafa;}
.grey100{background-color: #f5f5f5;}
.grey200{background-color: #eeeeee;}
.grey300{background-color: #e0e0e0;}
.grey400{background-color: #bdbdbd;}
.grey500{background-color: #9e9e9e;}
.grey600{background-color: #757575;}
.grey700{background-color: #616161;}
.grey800{background-color: #424242;}
.grey900{background-color: #212121;}

.black{background-color: #000000;}
.white{background-color: #ffffff;}

.transparent{background-color: rgba(0, 0, 0, 0);}
.fullBlack{background-color: rgba(0, 0, 0, 1);}
.darkBlack{background-color: rgba(0, 0, 0, 0.87);}
.lightBlack{background-color: rgba(0, 0, 0, 0.54);}
.minBlack{background-color: rgba(0, 0, 0, 0.26);}
.faintBlack{background-color: rgba(0, 0, 0, 0.12);}
.fullWhite{background-color: rgba(255, 255, 255, 1);}
.darkWhite{background-color: rgba(255, 255, 255, 0.87);}
.lightWhite{background-color: rgba(255, 255, 255, 0.54);}

.amber50-text{color: #fff8e1;}
.amber100-text{color: #ffecb3;}
.amber200-text{color: #ffe082;}
.amber300-text{color: #ffd54f;}
.amber400-text{color: #ffca28;}
.amber500-text{color: #ffc107;}
.amber600-text{color: #ffb300;}
.amber700-text{color: #ffa000;}
.amber800-text{color: #ff8f00;}
.amber900-text{color: #ff6f00;}
.amberA100-text{color: #ffe57f;}
.amberA200-text{color: #ffd740;}
.amberA400-text{color: #ffc400;}
.amberA700-text{color: #ffab00;}

.orange50-text{color: #fff3e0;}
.orange100-text{color: #ffe0b2;}
.orange200-text{color: #ffcc80;}
.orange300-text{color: #ffb74d;}
.orange400-text{color: #ffa726;}
.orange500-text{color: #ff9800;}
.orange600-text{color: #fb8c00;}
.orange700-text{color: #f57c00;}
.orange800-text{color: #ef6c00;}
.orange900-text{color: #e65100;}
.orangeA100-text{color: #ffd180;}
.orangeA200-text{color: #ffab40;}
.orangeA400-text{color: #ff9100;}
.orangeA700-text{color: #ff6d00;}

.deepOrange50-text{color: #fbe9e7;}
.deepOrange100-text{color: #ffccbc;}
.deepOrange200-text{color: #ffab91;}
.deepOrange300-text{color: #ff8a65;}
.deepOrange400-text{color: #ff7043;}
.deepOrange500-text{color: #ff5722;}
.deepOrange600-text{color: #f4511e;}
.deepOrange700-text{color: #e64a19;}
.deepOrange800-text{color: #d84315;}
.deepOrange900-text{color: #bf360c;}
.deepOrangeA100-text{color: #ff9e80;}
.deepOrangeA200-text{color: #ff6e40;}
.deepOrangeA400-text{color: #ff3d00;}
.deepOrangeA700-text{color: #dd2c00;}

.brown50-text{color: #efebe9;}
.brown100-text{color: #d7ccc8;}
.brown200-text{color: #bcaaa4;}
.brown300-text{color: #a1887f;}
.brown400-text{color: #8d6e63;}
.brown500-text{color: #795548;}
.brown600-text{color: #6d4c41;}
.brown700-text{color: #5d4037;}
.brown800-text{color: #4e342e;}
.brown900-text{color: #3e2723;}

.blueGrey50-text{color: #eceff1;}
.blueGrey100-text{color: #cfd8dc;}
.blueGrey200-text{color: #b0bec5;}
.blueGrey300-text{color: #90a4ae;}
.blueGrey400-text{color: #78909c;}
.blueGrey500-text{color: #607d8b;}
.blueGrey600-text{color: #546e7a;}
.blueGrey700-text{color: #455a64;}
.blueGrey800-text{color: #37474f;}
.blueGrey900-text{color: #263238;}

.grey50-text{color: #fafafa;}
.grey100-text{color: #f5f5f5;}
.grey200-text{color: #eeeeee;}
.grey300-text{color: #e0e0e0;}
.grey400-text{color: #bdbdbd;}
.grey500-text{color: #9e9e9e;}
.grey600-text{color: #757575;}
.grey700-text{color: #616161;}
.grey800-text{color: #424242;}
.grey900-text{color: #212121;}

.black-text{color: #000000;}
.white-text{color: #ffffff;}

.transparent-text{color: rgba(0, 0, 0, 0);}
.fullBlack-text{color: rgba(0, 0, 0, 1);}
.darkBlack-text{color: rgba(0, 0, 0, 0.87);}
.lightBlack-text{color: rgba(0, 0, 0, 0.54);}
.minBlack-text{color: rgba(0, 0, 0, 0.26);}
.faintBlack-text{color: rgba(0, 0, 0, 0.12);}
.fullWhite-text{color: rgba(255, 255, 255, 1);}
.darkWhite-text{color: rgba(255, 255, 255, 0.87);}
.lightWhite-text{color: rgba(255, 255, 255, 0.54);}
